- You must use the centre letter in each word

- You cannot use each letter more than once per word

- No plurals are allowed in most versions of this puzzle

- Proper nouns, names etc., are often banned

- Usually the minimum number of letters in a word is three though sometimes this is four

- Remember that there is always at least one word that uses all the letters in the puzzle, and often many people like to just look for this word when doing a wordwheel puzzle.